.selected {
	background: black;
	color: white;
}

.results {
	margin-bottom: 0 !important;
	color: #3F505A;
	width: 100%;
	overflow: hidden;
	display: block;
	height: 427px;
	width: 100%;
}

.results div {
	border: 2px solid #17181D;
	background: #17181D;
	width: 100%;
}

.results b {
	color: #028F76;
}

.searchFilter {
	background: #3F505A;
	border-radius: 0;
	border: 4px solid #3F505A;
	color: #028F76;
	width: 100%;
	outline-color: #3F505A;
	font-weight: bold;
}

.searchFilter:focus {
	outline-color: #3F505A;
}
